# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/
*.iml

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env

# =========================
# Build / Cache
# =========================
.build/
dist/
*.egg-info/
__pypackages__/

# =========================
# Jupyter / ML
# =========================
.ipynb_checkpoints/

# =========================
# ML Model Artifacts (FastAPI bot)
# =========================
model/*.h5
model/*.pkl

# Keep training data
!model/intents.json

# =========================
# RASA (VERY IMPORTANT)
# =========================
rasa_bot/models/
rasa_bot/.rasa/
rasa_bot/.cache/
rasa_bot/results/
rasa_bot/events.db
rasa_bot/*.db
rasa_bot/*.log

# ======================
# FastAPI / Uvicorn
# =========================
*.pid
uvicorn.log
